<!DOCTYPE html>
<html>
<head>
    <title>Hostel Management Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Hostel Management System</h2>

    <form action="/login" method="POST">

        <input type="text"
               name="username"
               placeholder="Username"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>

        <button type="submit">Login</button>

    </form>

    <p><b>Default Login</b></p>
    <p>Username : admin</p>
    <p>Password : admin</p>

</div>

</body>
</html>